@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* global style start  */
.site-secondary-clr {
  color: #3f87f5;
}
.site-secondary-bg {
  background: #3f87f5;
}
.btn.site-btn {
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}
.btn.site-btn:hover {
  background: #3f87f5;
  color: #fff;
}
/* header area style start */
.navbar-brand {
  font-weight: 800;
  font-size: 25px;
}
.navbar-nav .nav-item {
  margin-left: 25px;
}
.navbar-nav .nav-item .nav-link {
  color: #3e3e3e;
  font-weight: 500;
}
/* hero/carousel area style */
.hero-area .lead {
  font-size: 16px;
}
/* precious area start */
.explore-btn {
  background: #3f87f5;
}
.explore-btn:hover {
  background: #3278e2;
}
.explore-btn i {
  transition: all 0.3s linear;
  margin-left: 10px;
}
.explore-btn:hover i {
  padding-left: 10px;
}
.pr-moment-area p {
  color: #6c6c6c;
  font-weight: 600;
}
